body{
		font-size: 16px;
}
.logo-img{
	padding: 2px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
	box-shadow: 2px 2px red;
}

.navbar{
	box-shadow: 3px 2px 3px 2px red;
	padding: 10px;
}
.navbar-nav li a{
	
 
  -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 4s;
}
.navbar-nav li>a:hover{
			font-size: 16px;
			color: #E74c3c
		}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}
#caption{
	background-color: #e60000;
	box-shadow: 2px 2px 2px 2px;
	margin-bottom: 5px;
	
}
#caption h3{
	color: white;

  -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 4s;
}
#caption h3:hover{
	font-size: 26px;
	color: #262626;
}
#intro-aboutus h2{
	padding: 15px;
	-webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
  	transition: width 2s, height 4s;
 	 font-weight: bold;
 	 color: black;
}

#intro-aboutus h2:hover{
	font-size: 26px;
	color: red;
}
#intro-aboutus button{
		
  		
  		color: white;
  		padding: 8px 15px;
  		text-align: center;
  		font-size: 16px;
 		background-color: #e60000;
  		font-weight: bold;
  		transition: 0.3s;
  		box-shadow: 0px 3px 8px;
}
#intro-aboutus button:hover{
	background-color:#ff4d4d;
	color: black;

}
#intro{
	margin:3px;
}

#intro li{
	list-style-type: square;

	text-align: justify;
}

#intro p{
	padding: 10px;
	text-align: justify;
	
}

#hoverabout figure img {
	max-width:100%;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#hoverabout figure:hover img {
	width: 550px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#service h2{
	padding: 15px;
	-webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
  	transition: width 2s, height 4s;
 	 font-weight: bold;
 	 color: black;

}
#service h2:hover{
	color: red;
}
.Service-main{
	box-shadow: 2px 2px 2px 2px;
	padding: 10px;
	margin: auto;

}
.service-box{
	
	padding: 15px;
	margin: 25px;
	transition: .3s;
	box-shadow: 1px 1px 3px 0px;
}
.service-box:hover{
	 background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px #ff8080;
	}
#contact{
	padding: 50px;
	background-color: #f2f2f2;

}
.contact-head h2{
	font-weight: bold;
}
#contact-content{
	padding: 20px;
}
#contact-content button{
	
  		color: white;
  		padding: 8px 15px;
  		text-align: center;
  		font-size: 16px;
 		background-color: #e60000;
  		font-weight: bold;
  		transition: 0.3s;
  		box-shadow: 0px 3px 8px;
}
#contact-content button:hover{
	background-color:#ff4d4d;
	color: black;
}
#footer-main{
	background-color: #000;
	color: white;
	position: relative;

}
.footer
{
	background: #000;
	color: white;
	padding: 40px;
	list-style: none;
	box-shadow: 2px 2px 2px 2px;
}
.footer hr{
	width:50%;
		height:2px;
		text-align:left; margin: 0 auto 0 0;
		 background-color:red;
		 border: none;

}
#footer-content{
	padding: 20px;
	margin: auto;
	text-align: justify;

}
#footer-content ul{
	list-style-type: none;

}

#footer-content li a{
	color: white;
	
}
.footer-end{
	background-color: #000;
}